@media (min-width: 576px){
    .catalog-page .product-card {
        width: calc(100%/3 - 8px);
    }
    .catalog-page .catalog-big-card .product-card {
        width: calc(100%/2 - 8px);
    }
}

@media (min-width: 768px){
    .catalog-page .catalog-title-wrap .catalog-title {
        font-size: 20px;
        line-height: 28px;
    }
    .catalog-page .product-card {
        width: calc(100%/4 - 8px);
    }
}
@media (min-width: 1024px){
    .btn-quick-nav {
        width: 48px;
        height: 48px;
        left: 24px;
        bottom: 24px;
    }

    .breadcrumbs .breadcrumbs__container {
        overflow: initial;
    }

    .breadcrumbs .breadcrumbs__list {
        font-size: 14px;
        line-height: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .breadcrumbs .breadcrumbs__item {
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        max-width: 100%;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin-right: 8px;
    }

    .breadcrumbs .breadcrumbs__link {
        font-size: 14px;
        line-height: 20px;
    }

    .breadcrumbs .breadcrumbs__item:nth-child(n)::after {
        content: "/";
        color: #ccc;
        margin-left: 8px;
    }

    .breadcrumbs .breadcrumbs__item:last-child::after {
        content: "";
        color: #ccc;
        margin-left: 8px;
    }

    .catalog-start-page .catalog-title {
        font-size: 24px;
        line-height: 32px;
    }
    .catalog-page .catalog-title-wrap .catalog-title {
        font-size: 28px;
        line-height: 36px;
    }
    .catalog-page .sidemenu > li > ul a {
        padding: 3px 0;
    }
    .catalog-page .product-card-list {
        margin: 0;
    }
    .catalog-page .product-card {
        width: 252px;
        margin: 0 calc((100% - 504px)/ 2.001) 32px 0;
    }
    .catalog-page .product-card .product-card__delivery {
        font-size: 14px;
        line-height: 20px;
        margin: 6px 0 0;
    }
    .spec-action {
        font-size: 14px;
        line-height: 20px;
    }
    .spec-action .spec-action__link, .spec-action .spec-action__text {
        padding: 6px 12px;
    }
    .catalog-page .product-card .product-card__rating {
        width: 100px;
    }
    .catalog-page .product-card .product-card__drop {
        background: #fff;
        z-index: -1;
        border-radius: 16px 16px 0 0;
        display: none;
        -webkit-box-shadow: 0 0 20px rgba(36,36,36,.1);
        box-shadow: 0 0 20px rgba(36,36,36,.1);
        position: absolute;
        top: -12px;
        right: -12px;
        bottom: 0;
        left: -12px;
    }
    .catalog-page .product-card .product-card__img .product-card__sale {
        left: 8px;
        bottom: 8px;
    }
    .catalog-page .product-card.hover .product-card__drop, .catalog-page .product-card.hover .product-card__drop-wrapper, .catalog-page .product-card.hover .product-card__fast-view {
        display: block;
    }
    .catalog-page .product-card .product-card__drop-wrapper {
        padding: 0 0 14px 12px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 20px rgba(36,36,36,.1);
        box-shadow: 0 0 20px rgba(36,36,36,.1);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        border-radius: 0 0 16px 16px;
    }
    .catalog-page .product-card .product-card__drop-wrapper::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        height: 20px;
        background-color: #fff;
    }
    .catalog-page .product-card .product-card__order .btn-main-sm {
        padding: 5px 20px 7px;
    }
    .catalog-page .catalog-big-card .product-card {
        width: 324px;
        margin-right: calc((100% - 648px)/ 2.001);
    }
}
/* min-width: 1024px */

@media (max-width: 1023.98px){
    .catalog-page .inner-sorter {
        display: none;
    }
    .catalog-page .sorter-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .catalog-page .catalog-page__side {
        width: 100%;
        margin-right: 0;
    }
    .catalog-page .catalog-page__filters {
        display: none;
    }
    .catalog-page .catalog-title-wrap .goods-count {
        font-size: 12px;
        line-height: 16px;
    }
    .catalog-page .catalog-page__side + .catalog-page__main {
        width: 100%;
    }
    .catalog-page .product-card .product-card__img img {
        height: auto;
        border-radius: 8px;
        touch-action: pan-y;
        -ms-touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .catalog-page .product-card .product-card__tip-promo {
        font-size: 12px;
        line-height: 16px;
        bottom: 20px;
    }
    .catalog-page .product-card .product-card__brand .lower-price {
        font-size: 14px;
        line-height: 20px;
    }
    .catalog-page .product-card {
        min-height: initial !important;
    }
    .catalog-page .product-card .product-card__drop {
        margin-top: auto;
    }
    .catalog-page .product-card .product-card__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
    }
    .pagination .pagination__item {
        width: 28px;
        min-width: 28px;
        height: 28px;
    }
    .pagination .pagination__dots, .pagination .pagination__item, .pagination .pagination__next, .pagination .pagination__prev {
        line-height: 22px;
    }
    .pagination .pagination__next, .pagination .pagination__prev {
        font-size: 0;
    }
    .pagination .pagination__next {
        padding-right: 10px;
    }
    .pagination .pagination__next .arrow, .pagination .pagination__prev .arrow {
        top: 10px;
    }
}
/* max-width: 1023.98px */

@media (hover: hover) and (pointer: fine) and (max-width: 1023.98px){
    .pagination .pagination__next:hover .next, .pagination .pagination__prev:hover .next {
        right: 0;
    }
    .pagination .pagination__next:hover, .pagination .pagination__prev:hover {
        color: #cb11ab;
    }
    .pagination .pagination__next:hover .arrow, .pagination .pagination__prev:hover .arrow {
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23CB11AB%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E");
    }
}


@media (min-width: 1244px){
    .catalog-page .product-card-list {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 -16px;
    }
    .catalog-page .product-card {
        margin-right: 16px;
        margin-left: 16px;
    }
    .catalog-page .catalog-big-card .product-card-list {
        margin: 0;
    }
    .catalog-page .catalog-big-card .product-card {
        margin-left: 0;
    }
}

@media (min-width: 1500px){
    .catalog-page .catalog-big-card .product-card {
        margin-right: 0;
    }
}

@media (hover: hover) and (pointer: fine){
    .breadcrumbs .breadcrumbs__link:hover {
        color: #242424;
        border-color: #242424;
    }
    .btn-heart-pink:hover {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2219%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5%2018C5.56%2013.75%201%209.592%201%206.082%201%203.216%203.28%201%206.225%201c1.615%200%203.23.74%204.275%201.94C11.545%201.74%2013.16%201%2014.775%201%2017.72%201%2020%203.217%2020%206.082c0%203.51-4.56%207.668-9.5%2011.918z%22%20fill%3D%22%23CB11AB%22%20stroke%3D%22%23CB11AB%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
    }
    .btn-main-sm:hover {
        background-color: #e313bf;
        border-color: #e313bf;
    }
    .pagination .pagination__next:hover .prev, .pagination .pagination__prev:hover .prev {
        left: -8px;
    }
}
