@media (min-width: 576px){
    .product-page .product-page__slider-wrap {
        margin: 0 0 12px;
    }
    .product-page .product-page__slider-wrap {
        margin: -16px 0 12px;
    }
    .sw-slider-kt-mix .slide {
        width: 72%;
        max-width: 450px;
        border-radius: 12px;
    }
}
/* min-width: 576px */

@media (min-width: 576px) and (max-width: 1023.98px){
    .sw-slider-kt-mix .slide__content::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(41,43,83,.03);
        display: block;
        z-index: 2;
    }
}

@media (max-width: 1023.98px){
    .product-page .product-page__top-wrap {
        position: absolute;
        top: 12px;
        right: -8px;
        left: -8px;
        z-index: 3;
    }
    .product-page .product-page__top-wrap .breadcrumbs__back {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .product-page .product-page__top-wrap .breadcrumbs__back::before {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .product-page .product-page__top-wrap .breadcrumbs__back::before {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M26.57%2013.614a1.587%201.587%200%200%201-2.076%200L14%204.184l-10.494%209.43a1.587%201.587%200%200%201-2.076%200%201.226%201.226%200%200%201%200-1.865L12.962%201.386a1.587%201.587%200%200%201%202.076%200L26.57%2011.75c.573.515.573%201.35%200%201.865Z%22%20fill%3D%22%23313132%22%2F%3E%3Cpath%20d%3D%22M12.375%2025.375a1.625%201.625%200%201%200%203.25%200V2.625a1.625%201.625%200%201%200-3.25%200v22.75Z%22%20fill%3D%22%23313132%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.628%205.63v19.765a1.628%201.628%200%201%201-3.256%200V5.63l-8.885%207.984a1.59%201.59%200%200%201-2.08%200%201.229%201.229%200%200%201%200-1.868L12.785%201.52A1.632%201.632%200%200%201%2014%20.977a1.621%201.621%200%200%201%201.215.544l11.378%2010.224a1.229%201.229%200%200%201%200%201.868%201.59%201.59%200%200%201-2.08%200l-8.885-7.984Zm.275-4.803%2011.342%2010.191a2.205%202.205%200%200%201%200%203.322c-.945.85-2.44.85-3.385%200l-7.255-6.52v17.575a2.605%202.605%200%201%201-5.21%200V7.82L4.14%2014.34c-.946.85-2.44.85-3.385%200a2.205%202.205%200%200%201%200-3.322L12.096.827A2.598%202.598%200%200%201%2014%200c.751%200%201.428.318%201.903.827Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    }
    .product-page .product-page__top-wrap .breadcrumbs__back::before {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .product-page .btn-share {
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask%20id%3D%22a%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%22.3%22%20y%3D%22-.5%22%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22%23000%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M.3-.5h20v21H.3z%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.273%207.763a3.132%203.132%200%201%200-3.055-2.443L7.753%207.898a3.132%203.132%200%201%200-.298%204.492l4.698%202.713a3.132%203.132%200%201%200%20.667-1.681L8.435%2010.89a3.132%203.132%200%200%200%20.091-1.372l4.568-2.638a3.121%203.121%200%200%200%202.18.883Zm0-1.79a1.342%201.342%200%201%200%200-2.684%201.342%201.342%200%200%200%200%202.685Zm-9.842%205.37a1.342%201.342%200%201%200%200-2.685%201.342%201.342%200%200%200%200%202.684Zm11.184%204.025a1.342%201.342%200%201%201-2.684%200%201.342%201.342%200%200%201%202.684%200Z%22%2F%3E%3C%2Fmask%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.273%207.763a3.132%203.132%200%201%200-3.055-2.443L7.753%207.898a3.132%203.132%200%201%200-.298%204.492l4.698%202.713a3.132%203.132%200%201%200%20.667-1.681L8.435%2010.89a3.132%203.132%200%200%200%20.091-1.372l4.568-2.638a3.121%203.121%200%200%200%202.18.883Zm0-1.79a1.342%201.342%200%201%200%200-2.684%201.342%201.342%200%200%200%200%202.685Zm-9.842%205.37a1.342%201.342%200%201%200%200-2.685%201.342%201.342%200%200%200%200%202.684Zm11.184%204.025a1.342%201.342%200%201%201-2.684%200%201.342%201.342%200%200%201%202.684%200Z%22%20fill%3D%22%23000%22%2F%3E%3Cpath%20d%3D%22m12.218%205.32.75%201.299.955-.551-.242-1.076-1.463.328ZM7.753%207.898%206.64%208.905l.813.897%201.049-.605-.75-1.3Zm-.298%204.492.75-1.299-.915-.528-.805.683.97%201.144Zm4.698%202.713%201.495.125.08-.948-.825-.476-.75%201.299Zm.667-1.681-.75%201.299%201.12.646.805-1.012-1.175-.933ZM8.435%2010.89l-1.439-.426-.335%201.134%201.024.59.75-1.298Zm.091-1.372-.75-1.3-.89.514.158%201.015%201.482-.23Zm4.568-2.638%201.044-1.077-.813-.788-.981.566.75%201.3Zm3.81-2.248c0%20.9-.73%201.631-1.63%201.631v3a4.632%204.632%200%200%200%204.63-4.631h-3ZM15.275%203c.9%200%201.63.73%201.63%201.632h3A4.632%204.632%200%200%200%2015.275%200v3Zm-1.632%201.632c0-.902.73-1.632%201.631-1.632V0a4.632%204.632%200%200%200-4.631%204.632h3Zm.04.36a1.64%201.64%200%200%201-.04-.36h-3c0%20.347.038.688.112%201.016l2.927-.656Zm-5.18%204.205%204.466-2.578-1.5-2.598-4.465%202.578%201.5%202.598Zm-3.07-.829c.479%200%20.908.205%201.21.537l2.222-2.014a4.624%204.624%200%200%200-3.433-1.523v3ZM3.8%2010c0-.901.73-1.632%201.631-1.632v-3A4.632%204.632%200%200%200%20.8%2010h3Zm1.631%201.632c-.9%200-1.631-.73-1.631-1.632h-3a4.632%204.632%200%200%200%204.631%204.632v-3Zm1.054-.386a1.62%201.62%200%200%201-1.054.386v3a4.62%204.62%200%200%200%202.994-1.097l-1.94-2.29Zm6.418%202.558L8.205%2011.09l-1.5%202.598%204.698%202.713%201.5-2.598Zm-2.245%201.173c-.01.13-.016.26-.016.391h3a1.7%201.7%200%200%201%20.006-.14l-2.99-.251Zm-.016.391A4.632%204.632%200%200%200%2015.273%2020v-3c-.9%200-1.631-.73-1.631-1.632h-3ZM15.273%2020a4.632%204.632%200%200%200%204.632-4.632h-3c0%20.902-.73%201.632-1.632%201.632v3Zm4.632-4.632a4.632%204.632%200%200%200-4.632-4.631v3c.901%200%201.632.73%201.632%201.631h3Zm-4.632-4.631c-1.47%200-2.781.687-3.627%201.751l2.349%201.867c.301-.38.761-.618%201.278-.618v-3Zm-7.588%201.452%204.385%202.532%201.5-2.598L9.185%209.59l-1.5%202.598ZM7.063%2010c0%20.164-.024.319-.067.464l2.877.851c.124-.419.19-.86.19-1.315h-3Zm-.02-.253c.013.081.02.166.02.253h3c0-.241-.019-.479-.055-.712l-2.964.459Zm5.3-4.166L7.777%208.22l1.5%202.598%204.568-2.638-1.5-2.598Zm2.93.682c-.442%200-.84-.174-1.135-.46L12.05%207.957a4.621%204.621%200%200%200%203.223%201.306v-3Zm-.158-1.631c0-.088.071-.158.158-.158v3a2.842%202.842%200%200%200%202.842-2.842h-3Zm.158.157a.158.158%200%200%201-.158-.157h3a2.842%202.842%200%200%200-2.842-2.843v3Zm.158-.157c0%20.087-.07.157-.158.157v-3a2.842%202.842%200%200%200-2.842%202.843h3Zm-.158-.158c.088%200%20.158.07.158.158h-3a2.842%202.842%200%200%200%202.842%202.842v-3ZM5.273%2010c0-.087.071-.158.158-.158v3A2.842%202.842%200%200%200%208.273%2010h-3Zm.158.158A.158.158%200%200%201%205.273%2010h3a2.842%202.842%200%200%200-2.842-2.842v3ZM5.59%2010c0%20.087-.07.158-.158.158v-3A2.842%202.842%200%200%200%202.59%2010h3Zm-.158-.158c.087%200%20.158.07.158.158h-3a2.842%202.842%200%200%200%202.842%202.842v-3Zm9.842%208.369a2.842%202.842%200%200%200%202.842-2.842h-3c0-.088.071-.158.158-.158v3Zm-2.842-2.842a2.842%202.842%200%200%200%202.842%202.842v-3c.088%200%20.158.07.158.157h-3Zm2.842-2.843a2.842%202.842%200%200%200-2.842%202.842h3c0%20.088-.07.158-.158.158v-3Zm2.842%202.842a2.842%202.842%200%200%200-2.842-2.842v3a.158.158%200%200%201-.158-.158h3Z%22%20fill%3D%22%23fff%22%20mask%3D%22url(%23a)%22%2F%3E%3C%2Fsvg%3E");
        background-size: 22px;
        background-position: center;
        margin-left: auto;
        border: none;
    }
    .product-page .product-page__slider {
        margin: 0 -16px;
    }
    .sw-slider-kt-mix img {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 50%;
        -webkit-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
    .sw-slider-kt-mix .swiper-button-next, .sw-slider-kt-mix .swiper-button-prev {
        display: none;
    }
    .product-page .product-page__header a {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
    .product-page .product-page__header a::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 8px;
        height: 8px;
        margin: 0 0 3px 4px;
        border-right: 2px solid #242424;
        border-bottom: 2px solid #242424;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .product-page .product-page__header-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 16px;
        border-top: 1px solid #e8e8e8;
    }
    .product-page .product-page__header h1 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        display: block;
        margin-top: 2px;
    }
    .collapsible__toggle-wrap.description{
        display: none;
    }
}
/* max-width: 1023.98px */

@media (min-width: 1024px){
    .product-page .product-page__top-wrap {
        margin-bottom: 8px;
    }
    .product-page .product-page__breadcrumbs {
        width: calc(100% - 28px - 8px);
    }
    .product-page .product-page__share {
        margin-left: 24px;
    }
    .product-page .btn-share {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.499%200C8.127%200%206.997%201.097%206.997%202.455c0%20.289.053.567.147.825l-3.06%201.927a2.512%202.512%200%200%200-1.583-.556C1.13%204.651%200%205.748%200%207.106c0%201.362%201.126%202.46%202.501%202.46.599%200%201.152-.21%201.582-.556l3%201.894a2.416%202.416%200%200%200-.086.64C6.997%2012.905%208.127%2014%209.5%2014%2010.87%2014%2012%2012.903%2012%2011.545S10.87%209.09%209.499%209.09c-.598%200-1.148.206-1.579.551L4.916%207.74a2.425%202.425%200%200%200%200-1.265L8.083%204.48c.403.272.89.431%201.416.431C10.87%204.91%2012%203.813%2012%202.455S10.87%200%209.499%200Zm-.972%202.459a.96.96%200%200%201%20.972-.945.96.96%200%200%201%20.971.945.96.96%200%200%201-.971.944.96.96%200%200%201-.972-.944ZM1.53%207.11a.96.96%200%200%201%20.971-.944.96.96%200%200%201%20.972.944.96.96%200%200%201-.972.945.96.96%200%200%201-.971-.945Zm6.997%204.431a.96.96%200%200%201%20.972-.944.96.96%200%200%201%20.971.944.96.96%200%200%201-.971.945.96.96%200%200%201-.972-.945Z%22%20fill%3D%22%23313132%22%2F%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        background-size: 52% auto;
        background-position: 40% center;
        border: 2px solid #242424;
        border-radius: 50%;
    }
    .product-page .product-page__grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 56% 1fr;
        grid-template-columns: 56% 1fr;
        -ms-grid-rows: auto auto auto auto auto auto auto auto 1fr auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto 1fr auto auto;
        grid-template-areas: "header header" "slider prices-block" "slider composition" "slider colors-wrap" "slider order" "slider delivery" "slider aside" "slider brand-logo" "slider expander" "about-product about-product" "seller seller";
        margin-bottom: 72px;
    }
    .product-page .product-page__slider-wrap {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 7;
        grid-area: slider;
        margin: 0;
        padding-right: 24px;
        align-self: stretch;
    }
    .product-page .product-page__colors-wrap {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
        grid-area: colors-wrap;
    }
    .product-page .product-page__header-wrap {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        grid-area: header;
    }

    .product-page .product-page__details-section {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 10;
        grid-area: about-product;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 72px;
    }

    .product-page .details-section {
        margin-bottom: -24px;
    }
    .product-page .product-page__delivery-advantages {
        -ms-grid-column: 2;
        -ms-grid-row: 6;
        grid-area: delivery;
    }
    .product-page .product-page__seller-wrap {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 11;
        grid-area: seller;
        width: 436px;
        margin-top: 32px;
    }
    .product-page .product-page__order {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
        grid-area: order;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 32px;
    }
    .product-page .product-page__aside {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
        grid-area: aside;
        max-width: 340px;
    }
    .product-page .product-page__brand-logo {
        -ms-grid-column: 2;
        -ms-grid-row: 8;
        grid-area: brand-logo;
    }
    .product-page .product-page__header {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        display: inline;
        margin-right: 12px;
    }
    .product-page .product-page__header h1 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        display: inline;
    }
    .product-page .product-page__common-info {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 16px 0 28px;
    }
    .product-page .product-page__common-info .product-review {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .product-page .product-page__common-info .product-article {
        margin-right: 16px;
    }
    .product-page .product-page__common-info .product-order-quantity {
        margin-top: 0;
    }
    .product-page .product-page__common-info .product-review__rating {
        width: 96px;
        margin-right: 16px;
    }
    .product-page .product-page__common-info .product-review__count-review {
        margin-right: 16px;
    }
    .product-page .product-page__common-info .product-article span:last-of-type {
        color: #242424;
    }
    .product-page .product-page__links {
        margin-bottom: 24px;
    }
    .product-page .advantages__item {
        font-size: 14px;
        line-height: 20px;
        margin: 0 12px 8px 0;
        background-repeat: no-repeat;
        background-position-y: 2px;
        padding-left: 28px;
    }
    .product-page .advantages__item--delivery {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20.906%2017.06a.736.736%200%200%200%20.119-.412v-.001l.125-11.292V5.346c0-.096%200-.179-.007-.246a.442.442%200%200%200-.065-.207.441.441%200%200%200-.164-.14c-.06-.033-.136-.065-.224-.103l-.006-.003h-.003L11.306.86%2011.28.85H10.845l-.026.01-9.371%203.785a1.063%201.063%200%200%200-.414.255.58.58%200%200%200-.184.39v11.357c0%20.287.143.62.478.71l9.366%203.782.027.011H11.155l.026-.01%209.375-3.786.012-.006a.858.858%200%200%200%20.338-.287ZM8.53%203.4%2011%202.423l7.282%202.93-2.469.974L8.53%203.4Zm1.695%206.283v9.645L2.4%2016.167V6.522l7.825%203.16ZM6.5%204.253l7.283%202.929L11%208.283%203.717%205.354%206.5%204.253Zm13.1%202.269v9.645l-7.825%203.16V9.682l7.825-3.16Z%22%20fill%3D%22%23000%22%20stroke%3D%22%23000%22%20stroke-width%3D%22.3%22%2F%3E%3C%2Fsvg%3E);
        background-position-x: 0;
        background-size: 17px auto;
    }
    .product-page .price-block__final-price {
        font-size: 28px;
        line-height: 36px;
    }
    .product-page .price-block__old-price {
        font-weight: 700;
    }
    .product-page .order {
        min-width: 292px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product-page .order .btn-base, .product-page .order .btn-main {
        width: 100%;
    }
    .product-page .order .btn-main {
        font-size: 16px;
        line-height: 22px;
        padding: 11px 25px 13px;
        line-height: 1.1;
    }
    .product-page .order-to-poned {
        margin: 6px 0 auto 12px;
    }
    .product-page .product-page__delivery .delivery {
        max-width: 260px;
    }
    .product-page .product-page__delivery .delivery__row {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%;
    }
    .product-page .product-page__delivery .delivery__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .product-page .product-page__price-history:not(:empty) {
        margin-bottom: 24px;
    }
    .product-page .price-history {
        margin-bottom: 0;
    }
    .product-page .price-history__title-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin-bottom: 20px;
    }
    .product-page .price-history__title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .product-page .price-history__text {
        margin-bottom: 0;
    }
    .product-page .details-section__header-wrap {
        width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 20px;
    }
    .product-page .details-section__header {
        font-size: 24px;
        line-height: 32px;
    }
    .product-page .details-section__inner-wrap {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: calc(100% - 56%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product-page .details-section__details {
        margin-bottom: 24px;
    }
    .product-page .details-section__details--consist {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .product-page .details__header {
        margin-bottom: 8px;
    }
    .collapsable .collapsible__gradient {
        height: 70px;
    }
    .product-page .description-error__text {
        font-size: 14px;
        line-height: 20px;
        max-width: 450px;
    }
    .product-page .details-section__details--about {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 56%;
        padding-right: 24px;
    }
    .product-page .product-page__details-section .product-params__table th {
        width: 56.75%;
    }
    .product-page .product-page__details-section .product-params__table td {
        width: 39%;
    }
    .product-page .product-page__sticky-wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .product-page .product-page__sticky-wrap {
        position: sticky;
        top: 20px;
    }
    .product-page .product-page__slider {
        width: 72px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .sw-slider-kt-mix .swiper-container {
        height: 512px;
    }
    .sw-slider-kt-mix .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .sw-slider-kt-mix .swiper-pagination {
        max-width: calc(100% - 400px);
        margin: 22px auto 0;
    }
    .sw-slider-kt-mix .swiper-pagination {
        display: none;
    }
    .sw-slider-kt-mix .slide {
        width: 100%;
        height: 96px;
        max-height: 96px;
        border-radius: 4px;
    }
    .sw-slider-kt-mix .slide__content {
        height: 100%;
        text-align: center;
        padding: 0;
        border: 2px solid transparent;
        border-radius: 4px;
        overflow: hidden;
    }
    .sw-slider-kt-mix .slide__content::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(41,43,83,.03);
        z-index: 1;
    }
    .sw-slider-kt-mix .slide.active .slide__content {
        border-color: #cb11ab;
    }
}
/* min-width: 1024px */

@media (min-width: 1024px) and (hover: hover) and (pointer: fine){
    .product-page .btn-share:hover {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.499%200C8.127%200%206.997%201.097%206.997%202.455c0%20.289.053.567.147.825l-3.06%201.927a2.512%202.512%200%200%200-1.583-.556C1.13%204.651%200%205.748%200%207.106c0%201.362%201.126%202.46%202.501%202.46.599%200%201.152-.21%201.582-.556l3%201.894a2.416%202.416%200%200%200-.086.64C6.997%2012.905%208.127%2014%209.5%2014%2010.87%2014%2012%2012.903%2012%2011.545S10.87%209.09%209.499%209.09c-.598%200-1.148.206-1.579.551L4.916%207.74a2.425%202.425%200%200%200%200-1.265L8.083%204.48c.403.272.89.431%201.416.431C10.87%204.91%2012%203.813%2012%202.455S10.87%200%209.499%200Zm-.972%202.459a.96.96%200%200%201%20.972-.945.96.96%200%200%201%20.971.945.96.96%200%200%201-.971.944.96.96%200%200%201-.972-.944ZM1.53%207.11a.96.96%200%200%201%20.971-.944.96.96%200%200%201%20.972.944.96.96%200%200%201-.972.945.96.96%200%200%201-.971-.945Zm6.997%204.431a.96.96%200%200%201%20.972-.944.96.96%200%200%201%20.971.944.96.96%200%200%201-.971.945.96.96%200%200%201-.972-.945Z%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        border-color: #cb11ab;
    }
    .product-page .product-page__delivery {
        margin-bottom: 24px;
    }
}

@media (max-width: 1365.98px){
    .product-page .product-page__options {
        display: none;
    }
}

@media (min-width: 1366px){
    .product-page .product-page__grid {
        -ms-grid-columns: 547px 1fr 364px;
        grid-template-columns: 547px 1fr 364px;
        -ms-grid-rows: auto auto auto auto auto 1fr auto;
        grid-template-rows: auto auto auto auto auto 1fr auto;
        grid-template-areas: "header header header" "slider composition aside" "slider colors-wrap aside" "slider delivery aside" "slider brand-logo aside" "slider expander aside" "about-product about-product seller";
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .product-page .product-page__slider-wrap {
        -ms-grid-row-span: 5;
    }
    .product-page .product-page__price-block--common {
        display: none;
    }
    .product-page .product-page__colors-wrap {
        -ms-grid-row: 3;
    }
    .product-page .product-page__header-wrap {
        -ms-grid-column-span: 3;
    }
    .product-page .product-page__details-section {
        -ms-grid-row: 7;
    }
    .product-page .product-page__delivery-advantages {
        -ms-grid-row: 4;
    }
    .product-page .product-page__seller-wrap {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 7;
        width: auto;
        margin: 124px 0 0 24px;
    }
    .product-page .product-page__order {
        display: none;
    }
    .product-page .product-page__aside {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 5;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        margin-left: 24px;
    }
    .product-page .product-page__brand-logo {
        -ms-grid-row: 5;
    }
    .product-page .product-page__options {
        margin-bottom: 32px;
    }
    .product-page .product-page__delivery-wrap {
        display: none;
    }
    .product-page .advantages__item {
        width: 100%;
        margin-bottom: 12px;
        padding-left: 32px;
    }
    .product-page .product-page__aside-sticky {
        position: sticky;
        top: 20px;
    }
    .product-page .product-page__aside-container {
        position: relative;
        padding: 20px 24px;
        border-radius: 16px;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
        box-shadow: 0 0 20px rgba(0,0,0,.1);
    }
    .product-page .product-page__price-block--aside .price-block {
        margin-bottom: 16px;
    }
    .product-page .order-to-poned {
        height: 44px;
        position: absolute;
        top: 18px;
        right: 14px;
        margin: 0;
    }
    .product-page .product-page__delivery {
        margin: 20px 0 0;
        color: #8b8b8b;
    }
    .product-page .product-page__price-history:not(:empty) {
        margin: 32px 0 0;
    }
    .product-page .price-history {
        margin-top: 36px;
    }
    .product-page .product-page__other-mini a {
        margin: 32px 0 0;
    }
    .product-page .details-section__inner-wrap {
        width: calc(100% - 547px);
    }
    .product-page .details-section__details--about {
        width: 547px;
    }
}
/* min-width: 1366px */

@media (min-width: 1504px){
    .product-page .product-page__grid {
        -ms-grid-columns: 555px 1fr 380px;
        grid-template-columns: 555px 1fr 380px;
    }
    .product-page .product-page__slider-wrap {
        padding-right: 32px;
    }
    .product-page .product-page__seller-wrap {
        margin-left: 40px;
    }
    .product-page .product-page__aside {
        margin-left: 40px;
    }
    .product-page .details-section__inner-wrap {
        width: calc(100% - 555px);
    }
    .product-page .details-section__details--about {
        width: 555px;
        padding-right: 32px;
    }
}
/* min-width: 1504px */

@media (min-width: 1600px){
    .product-page .product-page__grid {
        -ms-grid-columns: 616px 1fr 380px;
        grid-template-columns: 616px 1fr 380px;
    }
    .product-page .details-section__inner-wrap {
        width: calc(100% - 616px);
    }
    .product-page .details-section__details--about {
        width: 616px;
    }
    .product-page .product-page__mix-block {
        margin-left: 20px;
    }
    .sw-slider-kt-mix .swiper-button-prev {
        margin-bottom: 20px;
    }
    .sw-slider-kt-mix .swiper-container {
        height: 568px;
    }
}
/* min-width: 1600px */

@media (hover: hover) and (pointer: fine){
    .product-page .product-page__links a:hover {
        color: #cb11ab;
    }
    .product-page .product-page__links a:hover::after {
        border-color: #cb11ab;
    }
    .btn-heart-black:hover {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2219%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.225%202C3.805%202%202%203.796%202%206.082c0%201.36.91%203.034%202.65%205.023%201.554%201.777%203.621%203.644%205.85%205.574%202.229-1.93%204.296-3.797%205.85-5.574C18.09%209.116%2019%207.443%2019%206.081%2019%203.796%2017.194%202%2014.775%202c-1.326%200-2.666.614-3.52%201.597a1%201%200%200%201-1.51%200C8.892%202.614%207.552%202%206.226%202ZM0%206.082C0%202.639%202.754%200%206.225%200c1.55%200%203.09.572%204.275%201.55A6.802%206.802%200%200%201%2014.775%200C18.245%200%2021%202.639%2021%206.082c0%202.149-1.37%204.31-3.145%206.34-1.81%202.07-4.238%204.215-6.703%206.336a1%201%200%200%201-1.304%200c-2.465-2.12-4.892-4.266-6.703-6.336C1.369%2010.392%200%208.23%200%206.082Z%22%20fill%3D%22%23cb11ab%22%2F%3E%3C%2Fsvg%3E);
        background-repeat: no-repeat;
    }
    .btn-minor:hover {
        background-color: #e8e8e8;
        border-color: #e8e8e8;
    }
    .btn-minor:active {
        background-color: #dbdbdb;
        border-color: #dbdbdb;
    }
}
