.product-page .product-page__top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.product-page .product-page__share {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
}
.breadcrumbs .breadcrumbs__back {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    width: 28px;
    min-height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 0;
    line-height: 1;
    cursor: pointer;
}
.breadcrumbs .breadcrumbs__back::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.breadcrumbs .breadcrumbs__back::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23000%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
}
.breadcrumbs .breadcrumbs__back::before {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.breadcrumbs .breadcrumbs__back:not(.disabled):hover::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23CB11AB%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E");
}
.product-page .btn-share {
    background-repeat: no-repeat;
}
.product-page .product-page__header {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    color: #242424;
}
.product-page .product-page__header span::after {
    content: " /";
}
.product-page .product-page__common-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 12px;
}
.product-page .product-page__common-info .product-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.product-page .product-page__common-info .product-article {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    margin-right: 12px;
}
.product-page .product-page__common-info .product-order-quantity {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    margin-top: 4px;
}

/* todo эти штуки перекрывают другие звезды, потом переделать */
.stars-line.star5 {
    background-position-x: -2.6%;
}
.product-page .product-page__common-info .product-review__rating {
    width: 76px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 12px;
}
.product-page .product-page__common-info .product-review__count-review {
    border-bottom: 1px dashed;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    border-color: initial;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #8b8b8b;
    border-color: rgba(139,139,139,.4);
    font-size: 14px;
    line-height: 20px;
    margin-right: 12px;
}
.product-page .product-page__common-info .product-review:hover .product-review__count-review {
    color: #242424;
    border-color: #8b8b8b;
}
.product-page .product-page__common-info .product-article span:last-of-type {
    color: #cb11ab;
}
.product-page .product-page__options a {
    border-bottom: 1px dashed;
    font-size: 16px;
    line-height: 22px;
    border-color: initial;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #242424;
    border-color: rgba(139,139,139,.4);
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}
.product-page .product-page__options a:hover {
    color: #cb11ab;
    border-color: #cb11ab;
}
.product-page .product-params__table {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}
.product-page .product-params__caption {
    font-weight: 600;
    text-align: left;
    margin-bottom: 4px;
}
.product-page .product-params__table th {
    width: 50%;
    color: #8b8b8b;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
    padding: 4px 0;
}
.product-page .product-params__table td {
    width: 50%;
    text-align: left;
    vertical-align: bottom;
    padding: 4px 0 4px 12px;
}
.product-page .product-params__cell-decor::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 5px;
    border-bottom: 1px dashed #d5d5d5;
}
.product-page .product-params__cell-decor span {
    padding-right: 12px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.product-page .product-params__cell-decor {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.product-page .product-page__links a {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
}
.product-page .product-page__links a::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    width: 4px;
    height: 4px;
    margin: 0 0 1px 4px;
    border-right: 2px solid #8b8b8b;
    border-bottom: 2px solid #8b8b8b;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.product-page .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.product-page .product-page__price-block--aside {
    max-width: calc(100% - 30px);
}
.product-page .price-block__content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}
.product-page .price-block__price-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-right: 12px;
}
.product-page .price-block__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-right: 12px;
    color: #242424;
}
.product-page .price-block__final-price {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
}
.product-page .price-block__old-price {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    cursor: pointer;
}
.product-page .order {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-page .order .btn-base, .product-page .order .btn-main {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(50% - 4px);
    max-width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.btn-heart-black {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2219%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.225%202C3.805%202%202%203.796%202%206.082c0%201.36.91%203.034%202.65%205.023%201.554%201.777%203.621%203.644%205.85%205.574%202.229-1.93%204.296-3.797%205.85-5.574C18.09%209.116%2019%207.443%2019%206.081%2019%203.796%2017.194%202%2014.775%202c-1.326%200-2.666.614-3.52%201.597a1%201%200%200%201-1.51%200C8.892%202.614%207.552%202%206.226%202ZM0%206.082C0%202.639%202.754%200%206.225%200c1.55%200%203.09.572%204.275%201.55A6.802%206.802%200%200%201%2014.775%200C18.245%200%2021%202.639%2021%206.082c0%202.149-1.37%204.31-3.145%206.34-1.81%202.07-4.238%204.215-6.703%206.336a1%201%200%200%201-1.304%200c-2.465-2.12-4.892-4.266-6.703-6.336C1.369%2010.392%200%208.23%200%206.082Z%22%20fill%3D%22%23313132%22%2F%3E%3C%2Fsvg%3E);
    background-position: center;
    background-repeat: no-repeat;
}
.product-page .order-to-poned {
    width: 44px;
    height: 36px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 12px;
    background-size: 50% auto;
}
.product-page .product-page__delivery .delivery__title {
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 700;
    margin-bottom: 4px;
}
.product-page .product-page__delivery .delivery__info {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
}
.product-page .price-history__text {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    margin-bottom: 8px;
}
.product-page .price-history__text span {
    color: #242424;
}

/*  todo html color - тут он неожиданно меняется! смотреть воба! */
html{
    color: #242424;
}

.product-page .price-history__date {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.product-page .history-chart {
    cursor: pointer;
    overflow: visible;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-minor {
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    cursor: pointer;
    color: #242424;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 25px 10px;
}
.btn-minor, .btn-minor.progress:active, .btn-minor.progress:hover {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}
.product-page .product-page__other-mini a {
    font-size: 16px;
    line-height: 22px;
    padding: 11px 25px 13px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 32px;
}
.product-page .details-section__header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 8px;
}
.product-page .details-section__header {
    font-size: 18px;
    line-height: 24px;
}

.product-page .details-section__details {
    margin-bottom: 12px;
}

.product-page .mix-block__for-adults {
    font-size: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    color: #8b8b8b;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 192px;
    max-width: 200px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 2px 8px 2px 32px;
    background-color: #fff;
    font-weight: 700;
    border-radius: 16px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    z-index: 1;
    -webkit-filter: none;
    filter: none;
    font-size: 14px;
    line-height: 20px;
    display: none;
}
.product-page .details__empty {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
}
.product-page .details__header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.collapsable {
    position: relative;
}
.product-page .details__header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.collapsable .collapsable__content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}
.product-page .details-section__description-error {
    margin-top: 24px;
}
.collapsable .collapsable__content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}
.collapsable .collapsible__toggle-wrap {
    margin-top: 8px;
}
.collapsable .collapsible__toggle {
    border-bottom: 1px dashed;
    font-size: 16px;
    line-height: 22px;
    border-color: initial;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #242424;
    border-color: rgba(139,139,139,.4);
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
.collapsable .collapsible__toggle:hover {
    color: #cb11ab;
    border-color: #cb11ab;
}
.collapsable .collapsible__gradient {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff));
    background: linear-gradient(rgba(255,255,255,0),#fff);
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
}
.product-page .details-section__description-error {
    margin-top: 24px;
}
.product-page .description-error__btn {
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
}
.product-page .description-error__text {
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b;
}
.mah80{
    max-height: 80px;
}
.mah224{
    max-height: 224px;
}
.product-page .product-page__mix-block {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 16px;
}
.product-page .mix-block {
    padding-top: calc(100% * (1200/900));
    position: relative;
    height: 0;
    border-radius: 12px;
    overflow: hidden;
}
.product-page .mix-block__slider-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    border: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
.product-page .mix-block__slider-btn.mix-block__slider-btn--prev {
    left: 7px;
}
.product-page .mix-block__slider-btn.mix-block__slider-btn--next {
    right: 7px;
}
.product-page .mix-block__photo-zoom {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.sw-slider-kt-mix .swiper-button-next, .sw-slider-kt-mix .swiper-button-prev {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    position: static;
    width: 100%;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sw-slider-kt-mix .swiper-button-next.disabled, .sw-slider-kt-mix .swiper-button-prev.disabled {
    cursor: default;
    opacity: .1;
}
.sw-slider-kt-mix .swiper-button-prev {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 8px;
}
.sw-slider-kt-mix .swiper-button-next::before, .sw-slider-kt-mix .swiper-button-prev::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23000%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
}
.sw-slider-kt-mix .swiper-button-next::before, .sw-slider-kt-mix .swiper-button-prev::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.sw-slider-kt-mix .swiper-button-next::before, .sw-slider-kt-mix .swiper-button-prev::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23000%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
}
.sw-slider-kt-mix .swiper-button-prev::before {
    -webkit-transform: none;
    transform: none;
}
.sw-slider-kt-mix .swiper-button-next::before, .sw-slider-kt-mix .swiper-button-prev::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23000%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23000%22%2F%3E%3C%2Fsvg%3E");
}
.sw-slider-kt-mix {
    position: relative;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.sw-slider-kt-mix .swiper-button-next:not(.disabled):hover::before, .sw-slider-kt-mix .swiper-button-prev:not(.disabled):hover::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23CB11AB%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E");
}
.sw-slider-kt-mix .swiper-button-next:not(.disabled):hover::before, .sw-slider-kt-mix .swiper-button-prev:not(.disabled):hover::before {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.361.238a.977.977%200%20011.278%200l7.097%206.377a.755.755%200%20010%201.147.977.977%200%2001-1.278%200L8%201.96%201.542%207.762a.977.977%200%2001-1.277%200%20.755.755%200%20010-1.147L7.36.238z%22%20fill%3D%22%23CB11AB%22%2F%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20rx%3D%221%22%20transform%3D%22matrix(-1%200%200%201%209%200)%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E");
}
.sw-slider-kt-mix .sw-slider-kt-mix__wrap {
    position: relative;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.sw-slider-kt-mix .swiper-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
.sw-slider-kt-mix .swiper-button-next::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.sw-slider-kt-mix .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .sw-slider-kt-mix .swiper-pagination {
    margin: 8px auto 0;
    position: relative;
    bottom: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    white-space: nowrap;
}

.sw-slider-kt-mix .swiper-pagination-fraction {
    font-size: 12px;
    line-height: 16px;
    color: #242424;
    width: auto;
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
    padding: 1px 8px 2px;
    border-radius: 18px;
    background-color: rgba(255,255,255,.7);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    /* transition-property: -webkit-transform; */
    /* transition-property: transform; */
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
.sw-slider-kt-mix .slide {
    width: 90%;
    overflow: hidden;
}
.sw-slider-kt-mix .slide__content {
    padding-top: calc(100% * (240/180));
    position: relative;
}
